{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true,
        },
        "sourceType": "module",
    },
    "plugins": [
        "react",
    ],
    "rules": {
        "camelcase": [
            "error",
            {
                allow: [
                    "attack_flat",
                    "attack_mult",
                    "health_flat",
                    "health_mult",
                    "defense_flat",
                    "defense_mult",
                    "att_rate",
                    "crit_chance",
                    "crit_damage",
                    "effect_res",
                    "flat_scaling",
                    "mult_scaling",
                ],
            },
        ],
        "indent": [
            "error",
            "tab",
        ],
        "linebreak-style": [
            "error",
            "unix",
        ],
        "no-tabs": 0,
        "quotes": [
            "error",
            "single",
        ],
        "semi": [
            "error",
            "always",
        ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [1, "tab"],
        "react/jsx-indent-props": [1, "tab"],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-unescaped-entities": 0,
        "react/react-in-jsx-scope": 2,
        "react/require-default-props": 0,
    },
}
