body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/** bootstrap overrides **/

.container-fluid {
  padding-top: 15px;
}

/** blueprintjs overrides **/
.bp3-input-group {
  width: 100px;
}

/** now we can do some actual styling **/

/** character sheet **/
.yuna-character-name {
  font-size: 2em;
}

.yuna-character-sheet {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

/** skill damage display **/
.yuna-skill-display {
  display: flex;
  justify-content: space-between;
}

.yuna-skill-damage-display {
  display: inline-block;
  text-align: center;
}

.yuna-skill-damage-display:nth-last-child(n + 2) {
  margin-right: 15px;
}

.yuna-skill-name {
  font-weight: 700;
}

.yuna-skill {
  font-style: italic;
  font-weight: 700;
}

.yuna-miss {
  color: #999;
}

.yuna-hit {
  font-size: 1.2em;
  color: #888;
}

.yuna-crush {
  font-size: 1.4em;
  color: #777;
}

.yuna-crit {
  font-size: 1.6em;
  color: #d75040;
}

/** gearing **/
.yuna-gear {
  margin-bottom: 15px;
}

/** inputs **/
.yuna-form-label {
  width: 160px;
}

.yuna-select {
  width: 160px;
}

/** dialog boxes **/
.yuna-dialog-form-label {
  width: 100px;
}

.yuna-dialog-stacking {
  margin-top: 15px;
  margin-bottom: 15px;
}
